.idea/

# Jupyter Notebook
.ipynb_checkpoints

data/cpt
data/logs
data/vars
data/*.pkl
data/*.zip
data/submission.csv.gz
!data/2017-08-15_2017-09-11.csv.zip

Logs/
smac3-*/

datasets/
**/__pycache__/
.Rhistory
logs/

generic_model_trainer_2.py
generic_model_trainer_3.py
generic_model_tester_2.py

cif2016_o12.txt
cif2016_o6.txt
m3.txt
nn3.txt
nn5.txt

**/tbptt*/*