.idea/

# Jupyter Notebook
.ipynb_checkpoints

data/cpt
data/logs
data/vars
data/*.pkl
data/*.zip
data/submission.csv.gz
!data/2017-08-15_2017-09-11.csv.zip
Logs/
smac3-*/
**/__pycache__/
.Rhistory
**/*.RData
logs/

nn_error_testing.nb.html
nn_error_testing.Rmd

generic_model_trainer_2.py
generic_model_trainer_3.py
generic_model_tester_2.py
generic_model_tester_3.py


**/tbptt*/*

datasets/
results/

**/attention*/*
rnn_architectures/seq2seq_model/with_dense_layer/non_moving_window/accumulated_error/*
rnn_architectures/seq2seq_model/with_decoder/non_moving_window/accumulated_error/*


preprocess_scripts/Electricity/*
preprocess_scripts/NN3/*
preprocess_scripts/Solar_Data/*
preprocess_scripts/CIF_2016/moving_window/create_augmented_tfrecords.py

utility_scripts/execution_scripts/cif2016_augmented_experiments.sh





